<section class="header">
  <div class="main-header  content-wr">
    <a class="header-logo" href="http://promocity-russia.ru"></a>
    <div class="header-contacts">
      <a class="header-contacts__tel" href="tel:89221574214">+7 (922) 157 42 14</a>
      <a href="#" class="header-contacts__button" id="header-call-request-btn">Заказать звонок</a>
    </div>    
  </div>
  <nav class="header-sites-nav" id="top_nav">
    <ul class="header-sites-nav-ul">
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#context-anchor">Контекстная реклама</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#cost-anchor">Стоимость</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#review-anchor">Кейсы и отзывы</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#we-anchor">О компании</a>
      </li>
      <li class="header-sites-nav-ul-item">
        <a class="header-sites-nav-ul-item__link" href="#contacts-anchor">Контакты</a>
      </li>
      <li class="header-sites-nav-ul-item  header-sites-nav-ul__item--bg-dark">
        <a class="header-sites-nav-ul-item__link" href="javascript:void(0);">Дополнительно</a>
        <ul class="header-sites-nav-ul-item-drop-down">
          <li class="header-sites-nav-ul-item-drop-down-item">
            <a class="header-sites-nav-ul-item-drop-down-item__link" href="http://promocity-russia.ru">Продвижение сайтов</a>
          </li>
          <li class="header-sites-nav-ul-item-drop-down-item">
            <a class="header-sites-nav-ul-item-drop-down-item__link" href="http://promocity-russia.ru">Создание сайтов</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</section>